@import url(reset.css);
@import url(variables.css);
@import url(nav.css);
@import url(footer.css);

@font-face {
    font-family: 'space_grotesklight';
    src: url('../assets/fonts/spacegrotesk-variablefont_wght-webfont.woff2')format('woff2'),
         url('../assets/fonts/spacegrotesk-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    font-size: 16px;
    font-family: var(--font-family);
}

.mentions{
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    font-size: 100px;
    font-weight: bolder;
}

.text{
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-xl);
    margin-bottom: var(--spacing-xl);   
}