@import url(reset.css);
@import url(variables.css);
@import url(nav.css);
@import url(footer.css);

@font-face {
    font-family: 'space_grotesklight';
    src: url('../assets/fonts/spacegrotesk-variablefont_wght-webfont.woff2')format('woff2'),
         url('../assets/fonts/spacegrotesk-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body{
    font-size: 16px;
    font-family: var(--font-family);
}

.container{
    width: 1000px;
    margin: 50px auto;
}

.title_h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form{
    width: 70%;
    margin: 0 auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 1rem;
}

.form-control{
    padding: 1rem;
    border-radius: 25px;
    border: 2px solid rgb(62, 172, 62);
}

.btn_submit{
    background-color: rgb(62, 172, 62);
    padding: 1rem 2rem;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
}

.btn_submit:hover{
    background-color: rgb(114, 197, 114);
    cursor: pointer;
}

.form-checkbox, .form-radio{
    display: flex;
}

.checkbox-content, .radio-content{
    margin-right: 1.5rem;
}

.btn_reset{
    background-color: red;
    padding: 1rem 2rem;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
}

.btn_reset:hover{
    background-color: red;
    cursor: pointer;
}


.container__2{
    width: 1000px;
    margin: 50px auto;
}

.title__h2{
    font-size: 2rem;
    letter-spacing: 0. 5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.maps{
    width: 100%;
    height: 1000px;
}

.frame_formulaire{
    width: 100%;
    height: 1500px;
}

.scroll-top-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.scroll-top-button{
    opacity: 1;
    background-color: #555;
}